.card {
    position: relative;
    background-color: #EADCB8;
    border: 1px solid #ebad11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 350px;
    font-family: "bangers";
    padding: 0 5px;
    border-radius: 5px;
    transition: .3s;
    transform: scale(1);

    img {
        width: 100%;
        height: 65%;
    }

    .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: -20px;
        left: -5px;
    }

    h2 {
        text-align: center;
        letter-spacing: 1.5px;
        border: 2px solid black;
        width: 100%;
    }

    span {
        font-size: 1.5em;
    }
}

.card:hover {
    transform: scale(1.8);
    z-index: 10;
    cursor: pointer;
}

.attack {
    width: 70%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    span:nth-child(2) {
        font-size: 2em;
        color: red;
    }
}

.zoom {
    position: absolute;
    transform: scale(2);
    z-index: 10;
}

.enemyCardSelected {
    border: 2px solid red;
}

.playerCardSelected {
    border: 2px solid blue;
}

.clickedCard {
    border: 3px solid red;
    transform: scale(1.5);
    z-index: 2;
}