.card {
    position: relative;
    background-color: #EADCB8;
    border: 1px solid #ebad11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 350px;
    font-family: "bangers";
    border-radius: 5px;
    transition: .3s;
    transform: scale(1);
    overflow: hidden;

    img {
        width: 100%;
        height: 65%;
    }

    .leafBorder {
        position: absolute;
        z-index: 10;
        bottom: -50px;
        right: 0;
        width: 50px;
        transform: scale(3);

    }

    .icon {
        position: absolute;
        width: 60px;
        height: 60px;
        top: -20px;
        left: -5px;
    }

    h2 {
        text-align: center;
        letter-spacing: 1.5px;
        border: 2px solid black;
        width: 100%;
        margin: 0 20px;
    }

    span {
        font-size: 1.5em;
    }

}

.card:hover {
    transform: scale(1.8);
    z-index: 10;
    cursor: pointer;
}

.attack {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-bottom: none;


    span:nth-child(2) {
        font-size: 2em;
        color: red;
    }
}

.zoom {
    position: absolute;
    transform: scale(2);
    z-index: 10;
}

.enemyCardSelected {
    border: 2px solid red;
}

.playerCardSelected {
    border: 2px solid blue;
}

.clickedCard {
    position: relative;
    transform: scale(1.5);
    z-index: 2;
   
}

.clickedCard::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 3px solid red;
    animation-name: cardSelected;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes cardSelected {
    from {
        transform: scale(1);
    }
    to {
        transform: translateY(1.5);
    }
    
}